<style>
        body {
            background-position: top center;
            background-size: 100% auto;
        }

        .search_bar {
            box-shadow: 0 0 18px rgba(70, 70, 40, 0.255);
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(5px);
            border-radius: 45px;
            width: 88%;
            max-width: 400px;
            margin: 10px auto;
            height: 30px;
            font-size: 30px;
            font-weight: 560;
            border: 0;
            outline: none;
            transition-duration: 0.4s;
            animation: search-bar-expand 1s forwards;
        }

        @keyframes search-bar-expand {
            from { max-width: 100px; }
            to { max-width: 400px; }
        }

        #content {
            position: fixed;
            top: 100px;
        }

        #search_input {
            height: 46px;
            line-height: 46px;
            font-weight: bolder;
        }

        .search.icon {
            width: 28px;
            height: 28px;
        }

        .bdSug_wpr {
            display: none !important;
        }

        #box_container {
            width: 88%;
            transition-duration: 0.4s;
            animation: box-container-expand 1s forwards;
        }

        @keyframes box-container-expand {
            from { max-width: 100px; }
            to { max-width: 400px; }
        }

        .box {
            margin: 0;
            width: 15%;
        }
    </style>